html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-root);
  color: var(--text-primary);
  background: var(--bg-primary);
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--accent-blue);
}
